<div  class="slideshow-container mw-100 w-100-ns center bg-center" style="background-image:url(/images/home-parallax.jpg);">
      {{ if .Params.frasi.enable }}
        {{ with .Params.frasi }}
          {{ range .item }}
            <div class="mySlides pa3 dn tc">
              <p class="i white f4">{{ .frase }}</p>
              <p class="b white f4">{{ .autore }}</p>
            </div>
          {{ end }}
        {{ end }}
        <div class="dot-container tc pa3">
        {{ with .Params.frasi }}
          {{ $scratch := newScratch }}
          {{ $scratch.Set "curslide" 1}}
          {{ range .item }}
             <span class="dot pointer-hover bg-animate" onclick="currentSlide( {{ $scratch.Get "curslide" }} )"></span> 
             {{ $scratch.Add "curslide" 1 }}
          {{ end }}
        {{ end }}
        </div>
        <a class="prev f2 white" onclick="plusSlides(-1)"><i class="fas fa-angle-left f2"></i></a>
        <a class="next f2 white" onclick="plusSlides(1)"><i class="fas fa-angle-right f2"></i></a>
      {{ end }}
</div>
  <!--
  <div class="dot-container">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
  </div>


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

-->