<div class="pa3 pa4-ns w-100 w-70-ns center">

    <section class="w-100 mw8">
    
    <div class="relative w-100 mb4">
      <article class="bb b--black-10">
        <div class="blah w-100 w-80-ns pl3-ns">
            <p>L’accettazione dei programmi e delle iniziative da parte del capo equipaggio, per se, per i propri familiari e/o ospiti, <strong>esonera</strong> gli organizzatori ed i loro collaboratori, da ogni responsabilità in caso di incidenti, danni, furti ed altro che eventualmente si dovessero verificare durante lo svolgimento delle attività.<br>
            <em>Camper Club Torre-Natisone non è un’agenzia di viaggi e/o turismo, perciò non trae alcun profitto dalle sue attività. Gli organizzatori non percepiscono alcun compenso e/o rimborsi per carburante, cene, campeggi ed altro.<br>
            Si informa che i siti previsti per le soste e/o pernottamenti non sempre potranno essere riservati e/o prenotati.</em>> Nel caso che tali siti risultassero essere occupati e/o inagibili sarà necessario adeguarsi ad altre soluzioni non sempre ottimali e richiederà spirito di adattamento. Ogni capo equipaggio è tenuto a saldare per proprio conto le spese per campeggi, parcheggi, cene, guide, ingresso a musei ed altro.<br>
            </p>                
            <p><strong><em>Ognuno viaggia a proprio rischio e pericolo.<br>
            Eventuali somme dovute a sconti collettivi verranno devoluti in beneficenza.<br>
            Gli organizzatori non gestiscono denaro.<br>
            I viaggi sono organizzati per i soli soci del Camper Club Torre Natisone.</em></strong></p>
          </div>
      </article>
    </div>
    </section>
    </div>
    