
<div class="pa3 pa4-ns w-100 w-70-ns center">

<section class="w-100 mw8">
<h2>Chi siamo</h2>
<p>La nostra Associazione è il Camper Club Torre Natisone.<br />L&#8217;indirizzo del nostro sito web è: https://www.camperclubtorrenatisone.it.</p>
<h2>Quali dati personali raccogliamo e perché li raccogliamo</h2>
<h3>Commenti</h3>
<p>Quando i visitatori lasciano commenti sul sito, raccogliamo i dati mostrati nel modulo dei commenti oltre all&#8217;indirizzo IP del visitatore e la stringa dello user agent del browser per facilitare il rilevamento dello spam.</p>
<p>Una stringa anonimizzata creata a partire dal tuo indirizzo email (altrimenti detta hash) può essere fornita al servizio Gravatar per vedere se lo stai usando. La privacy policy del servizio Gravatar è disponibile qui: <em><strong><a href="https://automattic.com/privacy/">https://automattic.com/privacy/</a></strong></em>. Dopo l&#8217;approvazione del tuo commento, la tua immagine del profilo è visibile al pubblico nel contesto del tuo commento.</p>
<h3>Media</h3>
<p>Se carichi immagini sul sito web, dovresti evitare di caricare immagini che includono i dati di posizione incorporati (EXIF GPS). I visitatori del sito web possono scaricare ed estrarre qualsiasi dato sulla posizione dalle immagini sul sito web.</p>
<h3>Modulo di contatto</h3>
<p>Attualmente non utilizziamo moduli di contatto.</p>
<h3>Cookie</h3>
<p>Non utilizziamo direttamente cookies su questo sito.</p>
<h3>Contenuto incorporato da altri siti web</h3>
<p>Gli articoli su questo sito possono includere contenuti incorporati (ad esempio video, immagini, articoli, ecc.). I contenuti incorporati da altri siti web si comportano esattamente allo stesso modo come se il visitatore avesse visitato l&#8217;altro sito web.</p>
<p>Questi siti web possono raccogliere dati su di te, usare cookie, integrare ulteriori tracciamenti di terze parti e monitorare l&#8217;interazione con essi, incluso il tracciamento della tua interazione con il contenuto incorporato se hai un account e sei connesso a quei siti web.</p>
<p>Per ulteriori informazioni sui cookies del nostro sito web visita la <a href="https://www.camperclubtorrenatisone.it/cookie-policy/"><em><strong>Pagina della Cookie Policy del Camper Club Torre Natisone</strong></em></a>.</p>
<h3>Analytics</h3>
<p>Non utilizziamo Google Analytics.</p>
<h2>Con chi condividiamo i tuoi dati</h2>
<p>Non condividiamo i tuoi dati con altre organizzazioni.</p>
<h2>Per quanto tempo conserviamo i tuoi dati</h2>
<p>Se lasci un commento, il commento e i relativi metadati vengono conservati a tempo indeterminato. È così che possiamo riconoscere e approvare automaticamente eventuali commenti successivi invece di tenerli in una coda di moderazione.</p>
<p>Per gli utenti che si registrano sul nostro sito web (se presenti), memorizziamo anche le informazioni personali che forniscono nel loro profilo utente. Tutti gli utenti possono vedere, modificare o cancellare le loro informazioni personali in qualsiasi momento (eccetto il loro nome utente che non possono cambiare). Gli amministratori del sito web possono anche vedere e modificare queste informazioni.</p>
<h2>Quali diritti hai sui tuoi dati</h2>
<p>Se hai un account su questo sito, o hai lasciato commenti, puoi richiedere di ricevere un file esportato dal sito con i dati personali che abbiamo su di te, compresi i dati che ci hai fornito. Puoi anche richiedere che cancelliamo tutti i dati personali che ti riguardano. Questo non include i dati che siamo obbligati a conservare per scopi amministrativi, legali o di sicurezza.</p>
<h2>Dove spediamo i tuoi dati</h2>
<p>I commenti dei visitatori possono essere controllati attraverso un servizio di rilevamento automatico dello spam.</p>
<h2>Le tue informazioni di contatto</h2>
<p>I nostri contatti possono essere trovati nella <a href="https://www.camperclubtorrenatisone.it/contatti/">Pagina contatti del Camper Club Torre Natisone</a>.</p>
<h2>Informazioni aggiuntive</h2>
<h3>Come proteggiamo i tuoi dati</h3>
<p>Le connessioni al nostro sito web sono criptate, utilizziamo il protocollo https obbligatorio quando accedi alle pagine del nostro sito.</p>
<h3>Quali procedure abbiamo predisposto per prevenire la violazione dei dati</h3>
<p>Per il nostro sito web utilizziamo i servizi di GitHub.com, rimandiamo alla pagina di &#8220;<a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiwqLDY7dz1AhX97rsIHaTbA5sQFnoECAcQAw&url=https%3A%2F%2Fdocs.github.com%2Fen%2Fgithub%2Fsite-policy%2Fgithub-privacy-statement&usg=AOvVaw0cBY5kuo0J8EGO9rP9hF6Q"><em><strong>Github.com e la protezione dei dati</strong></em></a>&#8220;.</p>
<h3>Da quali terze parti riceviamo dati</h3>
<p>Non riceviamo dati da terze parti.</p>
<h3>Quale processo decisionale automatizzato e/o profilazione facciamo con i dati dell&#8217;utente</h3>
<p>Su questo sito non adottiamo alcun processo decisionale automatizzato né facciamo profilazione con i dati dell&#8217;utente.</p>
<h3>Requisiti di informativa normativa del settore</h3>
<p>Per la normativa relativa alla Privacy visita la <a href="https://www.garanteprivacy.it/web/guest/home/provvedimenti-normativa"><em><strong>Pagina normativa del sito del Garante della Privacy</strong></em></a>.</p>
</section>
</div>