{{ define "main" }}
<article class="cf pa3 pa4-m pa4-l">
  <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links nested-img mid-gray">
    <p>Risultati della ricerca per <span class="i f4 dim br1 ph3 pv2 mb2 dib white bg-mid-gray">
      <script>
        var keyword = (window.location.search).substr(3);
        var result = keyword.replace("+", " ");
        document.write(result);
      </script>
    </span>
    </p>
  </div>
</article>
<div class="mw8 center">    
  <section class="flex-ns flex-wrap justify-around mt5">
    <div class="row" id="search-results"></div>
    <script id="search-result-template" type="text/x-js-template">
      <article class="ba pa3 row items-center mb4" id="id-${key}">
        
        <div class="flex-auto-m mb4">
          <span class="dib mb3">${date}</span> - <span class="flex-auto-m mb4">${tags}</span>
          <h3 class="f4 mb3">
            <a class="link" href="${link}">${title}</a>
          </h3>
          <p class="mb0">${snippet}</p>
        </div>
      </article>
    </script>
  </div>
  </section>
</div>

<!-- Search index -->
<script> var indexURL = {{ "index.json" | absURL }} </script>

{{ end }}