<nav class="pv3 ph3 ph4-ns menu" role="navigation">
  <div class="flex-l justify-between items-center center">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white no-underline white-90 dib">
      {{ with .Site.Params.site_logo }}
        <img src="{{ . }}"  width="128" height="40" class="w70 mw4" alt="{{ $.Site.Title }}"/>
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    <div class="flex-l items-center menu">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="nav menu">
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
              <li class="menu">
                  <a class="dim" href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ else }}
              <li class = "dim menu">
                <a class="menu" href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
       {{ end }}
      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
</nav>
