<nav class="pv3 ph3 ph4-ns menu" role="navigation">
  <div class="flex-l justify-between items-center center">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white no-underline white-90 dib">
      {{ with .Site.Params.site_logo }}
        <img src="{{ . }}" class="w70 mw4" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    {{if .Site.Params.search}}
    <button class="search-toggle dib dn-ns db-m ml-auto mr3 pointer" data-toggle="search" aria-label="Search Toggle">
      <i class="fas fa-search"></i>
    </button>
    {{end}}

    <div class="flex-l items-center menu">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <input type="checkbox" id="menuToggle">
        <label for="menuToggle" class="menu-icon pointer"><i class="fa fa-bars" style="color: white"></i></label>
        <ul class="nav menu {{ if site.Params.search }}mx-auto{{else}}ml-auto{{end}}">
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
              <li class="menu">
                  <a class="dim" href="{{ .URL }}">{{ .Name }}</a>
                  <ul>
                  {{ range .Children }}
                    <li>
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                  {{ end }}
                  </ul>
              </li>
            {{ else }}
              <li class = "dim menu">
                <a class="menu" href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}
      {{if .Site.Params.search}}
        <div class="navbar-right dn dib-l">
          <ul class="list pl0-l">   
              <li class="dib-m ml-4 dn dib-l">
                <button class="search-toggle pointer" data-toggle="search" aria-label="Search Toggle">
                  <i class="fas fa-search"></i>
                </button>
              </li>
          </ul>
        </div>  
      {{end}}
      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
</nav>

{{if .Site.Params.search}}
<div class="search-block">
  <div data-toggle="search-close">
    <i class="fas fa-times text-primary"></i>
  </div>
  <form action="{{ `search`| relURL }}">
    <input id="search-query" name="s" type="search" placeholder="Inserisci le parole e premi enter" class="tc" aria-label="search-query">
  </form>
</div>
{{end}}